@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .link{
        @apply text-gray-700 hover:text-[#28d0e7] transition-colors duration-300 ease-in-out;
    }
    
    @keyframes loader{
        0%{
            transform: scale(0);
        }
        40%{
            transform: scale(1);
        }
        80%{
            transform: scale(1);
        }
        100%{
            transform: scale(0);
        }
    }

    @keyframes image-fader{
        0%{
            opacity: 0;
        }
        20%{
            opacity: 100;
        }
        80%{
            opacity: 0;
        }
        /* 100%{
            transform: scale(0);
        } */
    }

    .image-fade{
        animation: image-fader 1s linear infinite;
    }

    .loader-box{
        animation: loader 2s linear infinite;
    }
}
